<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- File Appender to write logs to /logs/hello-world-log.log -->
        <File name="FileAppender" fileName="./logs/hello-world-log.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <!-- Root Logger to capture all log messages at INFO level or above -->
        <Root level="info">
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>
